.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box !important;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

button {
  border: none;
  outline: none;
}

/**
*
* Testing
*
**/
#root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

.container {
  width: 1366px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
@media (max-width: 1366px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .container {
    padding: 5px;
  }
}

.flex_auto {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
}

.sarlavha {
  color: #0d4c93;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 500;
}
@media (max-width: 810px) {
  .sarlavha {
    font-size: 32px;
  }
}

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_section1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-image: url("../fon_img/blur_hospital.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(211, 211, 211, 0.5);
}

.main_slide {
  display: flex;
  flex-direction: row;
}
@media (max-width: 500px) {
  .main_slide {
    padding-bottom: 30px;
  }
}
@media (max-width: 1025px) {
  .main_slide img {
    display: none;
  }
}
.main_slide .main_slide_img {
  position: relative;
}
.main_slide img:first-child {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
}
.main_slide p {
  color: #363535;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  text-align: start;
}
@media (max-width: 810px) {
  .main_slide p {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .main_slide p {
    font-size: 15px;
  }
}

.btn {
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  padding: 15px 60px;
  border-radius: 35px;
  opacity: 0.9;
  background: linear-gradient(90deg, #0d4c93 0%, #00c9c9 100%);
}
@media (max-width: 810px) {
  .btn {
    font-size: 20px;
  }
}
.btn:hover {
  background: #00c9c9;
}
.btn:active {
  background: linear-gradient(90deg, #0d4c93 0%, #00c9c9 100%);
}

.home_section2 {
  display: flex;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #0d4c93;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
}
@media (max-width: 810px) {
  .link {
    display: none;
  }
}
.link:hover {
  color: #00c9c9;
}
.link:hover img {
  filter: brightness(0) saturate(100%) invert(51%) sepia(66%) saturate(1278%) hue-rotate(140deg) brightness(101%) contrast(101%);
}
.link img {
  width: 30px;
  height: 30px;
}

.border {
  border: 1px solid red;
}

.pruducts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 1025px) {
  .pruducts {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 810px) {
  .pruducts {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 700px) {
  .pruducts {
    display: flex;
    flex-direction: column;
  }
}

.product_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  background: linear-gradient(180deg, #f8f8f8 0%, rgba(248, 248, 248, 0) 100%);
  padding: 10px;
  border-radius: 35px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
}
.product_card:hover {
  box-shadow: 0 0 5px black;
}
.product_card p {
  color: #363535;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2.52px;
}

.home_section3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 30px;
}
.home_section3 .service_bg {
  display: flex;
  width: 100%;
  justify-content: center;
  background-position: center;
  background-image: url("../fon_img/blur_hospital.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(211, 211, 211, 0.5);
}
.home_section3 .service_bg .service {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px 0 60px 0;
}
.home_section3 .service_bg .service .card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  background: #fff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
}
.home_section3 .service_bg .service .card:hover {
  box-shadow: 0 0 5px black;
}
.home_section3 .service_bg .service .card img {
  width: 100%;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}
.home_section3 .service_bg .service .card > div {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 45px;
  padding-bottom: 70px;
}
.home_section3 .service_bg .service .card > div h1 {
  text-align: center;
  color: #0d4c93;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.3px;
}
.home_section3 .service_bg .service .card > div p {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
}
.home_section3 .service_bg .service .card > button {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.home_section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}
.home_section4 .about_company {
  position: relative;
  display: flex;
  align-items: center;
}
.home_section4 .about_company img {
  width: 475px;
  height: 475px;
}
@media (max-width: 1000px) {
  .home_section4 .about_company img {
    width: 375px;
    height: 375px;
  }
}
@media (max-width: 810px) {
  .home_section4 .about_company img {
    display: none;
  }
}
.home_section4 .about_company div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  padding: 30px 30px 0 30px;
}
@media (max-width: 810px) {
  .home_section4 .about_company div {
    align-items: center;
  }
}
.home_section4 .about_company div::before {
  content: "";
  width: 150%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50px;
  background: linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
  z-index: -9;
}
@media (max-width: 810px) {
  .home_section4 .about_company div::before {
    width: 100%;
  }
}
.home_section4 .about_company p {
  text-align: justify;
}

.home_section5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home_section5 .links {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.home_section5 .news {
  padding: 100px 0 50px 0;
}

.card_news {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  background: #fff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
  padding-top: 100px;
}
.card_news img {
  position: absolute;
  height: 200px;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 50px;
}
.card_news > div {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 45px;
  padding-bottom: 70px;
}
.card_news > div h1 {
  text-align: center;
  color: #0d4c93;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.3px;
}
.card_news > div p {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
}
.card_news > button {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.home_section6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home_section6 .partners {
  height: 400px;
}
.home_section6 .partners .partner_card {
  padding: 10px 60px;
  border-radius: 30px;
  border: 1px solid #ececec;
  background-color: #fff;
}

@media (max-width: 768px) {
  .logo {
    order: -2;
  }
}
.logo img {
  width: 200px;
  height: 58px;
}
@media (max-width: 600px) {
  .logo img {
    width: 134px;
    height: 38px;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
}
@media (max-width: 600px) {
  .icon {
    height: 40px;
    width: 40px;
  }
}
.icon:hover img {
  filter: brightness(0) saturate(100%) invert(59%) sepia(62%) saturate(2447%) hue-rotate(138deg) brightness(99%) contrast(100%);
}
.icon img {
  width: 25px;
  height: 20px;
}

.d_flex {
  display: flex;
  flex-direction: row !important;
}

.fd_column {
  display: flex;
  flex-direction: column;
}

.justify_between {
  display: flex;
  justify-content: space-between;
}

.justify_start {
  display: flex;
  justify-content: flex-start;
}

.justify_end {
  display: flex;
  justify-content: flex-end;
}

.align_start {
  display: flex;
  align-items: flex-start;
}

.align_end {
  display: flex;
  align-items: flex-end;
}

.align_center {
  display: flex;
  align-items: center;
}

.justify_center {
  display: flex;
  justify-content: center;
}

.gap10 {
  gap: 10px;
}

.gap20 {
  gap: 20px;
}

.gap30 {
  gap: 30px;
}

.gap40 {
  gap: 40px;
}

.pad10 {
  padding: 10px;
}

.pad20 {
  padding: 20px;
}

@media (max-width: 1920px) {
  .alert-width {
    width: 50%;
  }
}
@media (max-width: 810px) {
  .alert-width {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */